.pull {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}
.pull-all {
  &-left {
    > * {
      float: left;
    }
    &::after {
      clear: both;
      content: '';
      display: table;
    }
  }
  &-right {
    > * {
      float: right;
    }
    &::after {
      clear: both;
      content: '';
      display: table;
    }
  }
}
